rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null
        && request.auth.token.email_verified == true
        && (
          request.auth.token.role == 'admin'
          || request.auth.token.role == 'super-admin'
          || request.auth.token.email == 'baitulqowwam123@gmail.com'
        );
    }

    function isImage() {
      return request.resource.contentType.matches('image/.*')
        && request.resource.size < 5 * 1024 * 1024;
    }

    match /banners/{file} {
      allow read: if true;
      allow write: if isAdmin() && isImage();
    }
    match /articles/{file} {
      allow read: if true;
      allow write: if isAdmin() && isImage();
    }
    match /donations/{file} {
      allow read: if true;
      allow write: if isAdmin() && isImage();
    }

    match /{allPaths=**} {
      allow read: if true;
      allow write: if false;
    }
  }
}
